.container{
    border: 1px solid deeppink;
    margin-top: 10px;
    padding: 1rem;
    border-radius: 10px;
    text-align: justify;

    h2{
        text-align: center;
        color: deeppink;
    }


    @for $i from 1 through 3 {
        .article#{$i}{
            color: lighten( darkgreen, $i*15%);
        }
    }
}